<div class="row">
	<section class="main col-md-12">
		<article>
            <h2>Wahab Zafar "- the developer"</h2>
            <p>Hi there,</p>
            <p>My name is Wahab Zafar, I am a third semester in Computer Programming and Analysis. In my free time I like to play games and do coding. My main interest is everthing that involve computer programming.</p>
            <p>Fell free to browse around and check for future updates</p>
            <p>Sincerely,</p>
            <p>Wahab Zafar</p>
		</article>
	</section>
</div>